<div class=row>
    <div class=cell>
        <Initiatewf-app>
        </Initiatewf-app>
    </div>
    <div class=cell style="vertical-align:top">
        <NotesForm></NotesForm>
    </div>
    <div class=cell style="vertical-align:top">
        <Cancelwf-app>
        </Cancelwf-app>
    </div>
</div>
<div class="table">

    <div class="row header">
        <div class="cell" style="width:20%">
            Task Title
        </div>
        <div class="cell" style="width:40%">
            Comments
        </div>
        <div class="cell" style="width:40%">

        </div>

    </div>

    <div class="row" *ngFor="let item of InprogressTasks">
        <div class="cell" style="width:20%">
            {{item.Title.split('-')[0]}}
        </div>
        <div class="cell" style="width:40%">
            <text-app [(myComments)]="Comments"> </text-app>
        </div>
        <div *ngIf="item.TaskOutcome === null && item.Title.indexOf('rejected')===-1;else otherTmpl" style="width:40%">
            <div class="cell" (click)="TaskAction(item.Id,'Approved')" style="width:50%;cursor:pointer">Approve</div>
            <div class="cell" (click)="TaskAction(item.Id,'Rejected')" style="width:50%;cursor:pointer">Reject</div>
        </div>
        <ng-template #otherTmpl>
            <div class="cell" (click)="TaskAction(item.Id,'Resubmitted')" style="width:100%;cursor:pointer">Resubmit</div>
        </ng-template>
    </div>
</div>

<p> Approval Details</p>

<div class="table">

    <div class="row header">
        <div class="cell" style="width:20%">
            Task Title
        </div>
        <div class="cell" style="width:5%">
            Status
        </div>
        <div class="cell" style="width:10%">
            Assigned To
        </div>
        <div class="cell" style="width:55%;text-align: left">
            Comments
        </div>
        <div class="cell" style="width:10%">
            Approved Date
        </div>



    </div>

    <div class="row" *ngFor="let item of AllTasks">
        <div class="cell" style="width:20%">
            {{item.Title.split('-')[0]}}
        </div>
        <div class="cell" style="width:5%">
            {{item.TaskOutcome}}
        </div>

        <div class="cell" style="width:10%">
            {{item.AssignedTo.Title}}
        </div>
        <div *ngIf="item.Comments" class="cell" style="width:55%;text-align: left" [innerHTML]="item.Comments">

        </div>
        <div *ngIf="!item.Comments" class="cell" style="width:55%;text-align: left">

        </div>
        <div *ngIf="item.TaskOutcome" class="cell" style="width:10%;">
            {{item.Modified | date: 'dd/MM/yyyy'}}
        </div>
        <div *ngIf="!item.TaskOutcome" class="cell" style="width:10%;">

        </div>



    </div>
</div>