.form-container {
    display: block;
    width: 90%;
    padding: 2em;
    margin: 2em auto;
    background: #fff;
}

.alert {
    background: #f2edda;
    padding: 7px;
    font-size: .9em;
    margin-bottom: 20px;
    display: inline-block;
    animation: 2s alertAnim forwards;
}

.ng2-opd-popup-content-main[_ngcontent-c3] {
    position: absolute;
    right: 0;
    left: 0;
    border-radius: 3px;
    background-color: white;
    z-index: 999;
    top: 30%;
}

.button {
    margin-top: 3rem;
}

h1 {
    margin-bottom: 2rem;
    font-weight: bold;
    font-family: 'Muli';
    font-size: 2em;
}

.Row {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}

.row {
    display: table-row;
}


/*.cell {
    display: table-cell;
}*/


/*div.row>div:nth-of-type(odd) {
    background: #e0e0e0;
}

div.row>div:nth-of-type(even) {
    background: #808080;
}*/

@keyframes alertAnim {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}